---
// 歡迎來到 Astro！三重虛線程式碼圍欄之間的所有內容
// 都是你的「元件 frontmatter」。它永遠不會在瀏覽器中執行。
console.log("這會在你的終端機中執行，而不是瀏覽器！");
import Counter from "../components/Counter.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="manifest" href="/manifest.webmanifest" />
  </head>
  <body>
    <h1>Astro</h1>
    <Counter client:idle />
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
